#Privacy .row {
  margin: 0% !important;
  padding: 0% !important;
}

#Privacy .row * {
  font-weight: bold;
  font-size: 1.1vw;
}

#Privacy .form-select {
  font-weight: bold !important;
  font-size: 1.1vw !important;
}

#Privacy .form-label {
  margin: 0% !important;
}
