*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0;  
    background: transparent;
}


/* .for_scroll{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.for_scroll::-webkit-scrollbar{
    width: 10px;
    overflow: hidden;
}

.for_scroll::-webkit-scrollbar-track {
    border-radius: 10px;
  }

.for_scroll::-webkit-scrollbar-thumb {
    background: rgb(114, 114, 255);
    border-radius: 30px;
  } */

.tasklist_outer_container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tasklist_container{
    height: 90%;
    width: 90%;
    border-radius: 15px;
    background-color: rgba(199, 247, 255, 0.651);
    /* background-color: var(--glass_light); */
    overflow: auto;
    box-shadow: 3px 3px 5px rgb(133, 185, 194);
    
}

