@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");

#admin_panel{
  width: 100%;
  height: 100%;
}

.admin_container{
  margin-top: 1%;
  padding: 2%;
  width: 95%;
  height: 96%;
  background-color: var(--glass_light);
  border-radius: 30px;
}

.admin_title{
  font-family: "Nunito";
  font-size: 2.2vw;
  font-weight: 800;
  color: var(--deep_sea_green_theme_color);
  letter-spacing: 1px;
  margin: 0% 0% 0% 1%;
}