.calendar_form .event {
  /* margin: 2%; */
  margin-bottom: 3%;
  font-weight: bold;
}

.calendar_form .event_input {
  /* background-color: blue; */
  margin-bottom: 5%;
}

.calendar_form .event_input input {
  width: 90%;
  padding: 1%;
  /* border-radius: 10px; */
  /* border: 2px solid black; */
}

.calendar_form .submit_button {
  /* display: flex; */
  text-align: center;
  padding: 0.5% 1%;
  background-color: limegreen;
  border-radius: 20px;
  border: 2px solid black;
  color: black;
  font-weight: bold;
  font-size: 100%;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-family: "Nunito";
}
.calendar_form button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.calendar_form button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.calendar_form button:hover {
  background-color: rgb(255, 255, 255);
}
.calendar_form button:hover span {
  padding-right: 25px;
}
.calendar_form button:hover span:after {
  opacity: 1;
  right: 0;
}
