.dashboard {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: var(--bg_gradient_top_light);
}

.dashboard button {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}