@font-face {
  font-family: "Salsa_reg";
  src: local("Salsa-Regular"),
    url(../../../../Resources/Fonts/Salsa-Regular.ttf) format(truetype);
}

@font-face {
  font-family: "Book_antiqua";
  src: local("book-antiqua"),
    url(../../../../Resources/Fonts/book-antiqua.ttf) format(truetype);
}

.even_feature {
  /* background: salmon; */
  margin: 0% 2%;
  padding: 2% 4%;
  position: relative;
}

.even_feature::before {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  content: " ";
  background-image: url("../../../../Resources/Images/feature illustrations/featurebox1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.4;
  filter: blur(30%);
  z-index: 0;
}

.even_feature_left_side {
  width: 40%;
  padding: 2% 0% 0% 0%;
  /* background: skyblue; */
}

.feature_bullet_point_even {
  position: relative;
  width: 2vw;
  top: -10%;
}

.feature_title {
  position: relative;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: #0e538c;
  font-size: 2vw;
  padding: 0% 0% 5% 0%;
}

.even_feature_text {
  position: relative;
  font-family: "Book_antiqua";
  font-size: 1.6vw;
  color: #360151;
  font-weight: bold;
  text-align: justify;
}

.even_feature_right_side {
  /* background: lightgreen; */
  width: 30%;
}

.even_feature_right_side img {
  position: relative;
  width: 100%;
  top: -15%;
}
