@import url("https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@700&display=swap");

@font-face {
  font-family: "TektonPro-Bold";
  src: local("TektonPro-Bold"),
    url(../../../../Resources/Fonts/TektonPro-Bold.otf) format("opentype");
}

.brand_container {
  /* background-color: red; */
}

.name_1 {
  font-family: "TektonPro-Bold";
  color: #0b4870;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.35);
  font-size: 4vw;
}

.name_2 {
  font-family: "Stardos Stencil", cursive;
  margin-right: 0.5%;
  color: #0b4870;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.35);
  font-size: 4vw;
}
