.landing_box_container {
  /* background: lightgreen; */
  height: auto;
}

.landing_text_container {
  position: relative;
  width: 100%;
  height: auto;
  padding: 4% 0% 2% 0%;
  content: " ";
  background-color: var(--glass_light);
  border-radius: 50px;
  filter: blur(30%);
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
}

.Line_1 {
  font-family: "Segoe UI";
  font-size: 1.2vw;
  font-weight: bold;
  color: black;
  padding-bottom: 3%;
}

.Line_2 {
  font-family: "Segoe UI";
  font-size: 1.4vw;
  font-weight: bolder;
  color: #1a03f7;
  padding-bottom: 3%;
}

.Line_3 {
  font-family: "Segoe UI";
  font-size: 1.2vw;
  font-weight: bold;
  color: black;
  padding-bottom: 3.5%;
}

.Line_4 {
  font-family: "Franklin Gothic Medium";
  font-size: 1.5vw;
  color: #0b4870;
}
